<div>
  {{#each games as |game|}}
    <div class="game-container">
      <a href="/{{game.guid}}"><h2 class="game-title">{{game.name}}</h2></a>
      <p>{{game.deck}}</p>
      <img src="{{game.image.icon_url}}" alt="Game image" />
    </div>
  {{/each}}
</div>
<form class="comment-page">
  <div>
    <textarea name="comment-section"></textarea>
  </div>
  <div>
    <button type="submit">Add Comment</button>
  </div>
</form>

{{#if loggedIn}}
  <script src="/javascript/comment.js"></script>
{{/if}}